body {
    background-color:rgb(61, 158, 175); 
    color: rgb(174, 221, 221);
}

.titulo {
    width: 50%;
    height: 100px;
    font-size:50px;
    text-align:center;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.piepagina{
    background-color:rgb(96, 98, 99);
    width: 100%;
    height: 100px;
    font-size:50px;
    text-align:center;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color:rgb(42, 165, 165);
    }

    @media(min-width: 576px){
        .piepagina{
            font-size:30px;
            }
        }
    
        @media(min-width: 768px){
            .piepagina{
                font-size:40px;
                }
            }
    